body {
    min-height: 2000px;
    padding-top: 70px;
    background: url('ps_neutral_@2X.png')
}

.container {
    background-color: white;
}

.navbar-default {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(60, 115, 120);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.jumbotron {
    background-color: rgb(95, 158, 160);
    color: rgb(255, 255, 255);
}

pre,
div>pre.prettyprint {
    border: none;
    font-size: 1.7rem;
    padding: 1rem;
}

p.bg-warning {
    padding: 15px;
}

#demo-app.well {
    border: none;
}